@model IEnumerable<MVC_BikeStores.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Administrators"))
{
    <p>

        @using (@Html.BeginForm())
        {
        <p>
            Cerca Stock @Html.DropDownList("cercaQuantita",null,"")
            <br />
            <br />
            <input type="submit" value="Cerca" />
        </p>
    }

        </p>


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Brand_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List_Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Brand_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model_Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.List_Price)
            </td>
            <td>
                @if (User.IsInRole("Administrators"))
                {
                    @Html.ActionLink("Edit ", "Edit", new { id = item.Product_Id })
                    @Html.ActionLink("Delete ", "Delete", new { id = item.Product_Id })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Product_Id })
            </td>
        </tr>
    }

</table>
