
@{
    ViewBag.Title = "Administrators";
}

<h2>DashBoard Administrators</h2>

<h5>Brands</h5>
@Html.ActionLink("Crea Marchio", "Create", "Brands")
@Html.ActionLink("Lista Marchi", "Index", "Brands")

<h5>Products</h5>
@Html.ActionLink("Crea Prodotto", "Create", "Products")
@Html.ActionLink("Lista Prodotti", "Index", "Products")

<h5>Customers</h5>
@Html.ActionLink("Lista Clienti", "Index", "Customers")

<h5>Orders</h5>
@Html.ActionLink("Lista Ordini", "Index", "Orders")

<h5>Staffs</h5>
@Html.ActionLink("Crea Staff", "Create", "Staffs")
@Html.ActionLink("Lista Staff", "Index", "Staffs")

<h5>Store</h5>
@Html.ActionLink("Crea Negozio", "Create", "Stores")
@Html.ActionLink("Lista Negozi", "Index", "Stores")


